extends layout

block body
	.container-fluid
		div(ng-controller='AppCtrl',ng-cloak)
			div.row.text-center
				form(ng-submit='onSubmit()')
					input.input-xxlarge(type="text",ng-model='command',on-keydown='handleKeypress($event)',placeholder='{{placeholder}}')
					br
					textarea.input-xxlarge(type="text",disabled) {{result}}


	script(data-main="js/main",src="js/lib/require/require.js")

